.container {
  display: flex;
  justify-content: center;
  padding-top: 0px;
  margin: 0;
}
.block {
  width: 600px;
}
.firstBlock {
  margin-right: 20px;
}
.secondBlock {
  margin-left: 20px;
}
