.ingredientsList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.ingredientItem {
  display: block;
  width: 272px;
  cursor: pointer;
  padding-top: 24px;
}
.imageContainer {
  position: relative;
}
.price {
  display: flex;
  justify-content: center;
  text-align: center;
}
.moneyIcon {
  display: flex;
  align-items: center;
  gap: 5px;
}
/*colors common.css @ya.practicum */
.customScroll {
  margin-top: 40px;
  scrollbar-width: thin;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 35svh);
  scrollbar-color: #8f8fd3 #2f2f37;
}
.counterWrapper {
  position: absolute;
  top: 0;
  right: 0;
}
